<table style="max-width:500px;border-collapse:collapse;margin:auto;">
    <tbody style="background-color:#EAECEE;text-align:center;font-family:'Lato',Helvetica,Arial,sans-serif;">
        <tr>
            <td style="padding:5px 15px 10px 15px;">
                <p>{{ _('Hello, %(username)s!', username=user.username) }}</p>
                <p>{{ _('Welcome to your new institutional repository account.') }}</p>
                <p>{{ _('In order to begin submitting your own research outputs for preservation and dissemination, please confirm by clicking here to create a new password') }}</p>
            </td>
        </tr>
        <tr>
            <td style="padding:5px 15px 15px 15px;text-align:center;">
                <a href="{{ reset_link }}" style="display:inline-block;border-radius:5px;background-color:#3498DB;border:none;font-size:15px;text-decoration:none;color:white;padding:10px 24px;">
                    {{ _('Clicking here to create a new password') }}
                </a>
            </td>
        </tr>
    </tbody>
</table>